; this has placeholder values
{:quarantine-start nil ; whenever. There's a default value merged into this in code
 :decorated :decorated} ; default is :decorated, :undecorated removes the window chrome